*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightBlue: #00bfff;
  --red: #ff4c68;
  --orange: #ef8172;
  --tomato: #ff6347;
  --white: #fff;
  --darkgray: #333;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(300deg, var(--lightBlue), var(--orange), var(--red));
  background-size: 180% 180%;
  animation-name: background-animation;
  animation-duration: 18s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: var(--white);
}

@keyframes background-animation{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  width: 800px;
  background-color: var(--darkgray);
  padding: 20px 40px;
  border: 4px solid var(--white);
  border-radius: 25px;
}

.top {
  height: 260px;
}

.main-info {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-info > img {
  width: 140px;
}

.city-name {
  font-size: 40px;
  font-weight: 400;
}

.headings, .weather-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headings {
  height: 35%;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.weather-info {
  height: 65%;
  font-size: 24px;
}

/* .headings > div,
.weather-info > div {
  width: 33.3%;
  text-align: center;
} */

.bottom {
  height: 140px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

input {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background: none;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

input::placeholder {
  color: var(--white);
  opacity: .75;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  background: none;
  outline: none;
  border: 2px solid var(--white);
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color .3s, color .3s;
}

button:hover {
  color: var(--darkgray);
  background-color: var(--white);
  cursor: pointer;
}

.main-info > div {
  margin-top: 10px;
}

p.warning {
  color: var(--tomato);
  font-weight: bold;
  margin-top: 4px;
}